/* This is all very hacky */

textarea, input {
  border: none;
  background-color: black;
  color: white;
  clear: both;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  padding: 8px;
  margin: 0px;
  width: 100%;
}

div#main {
  width: 706px;
  margin-left: auto;
  margin-right: auto;
}